.git
.gitignore
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
docs/
.github/
.editorconfig
target/
.classpath
.project
.settings/
*.log
*.iml
.factorypath
